@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Lato:wght@700&display=swap');

$font-name: 'Archivo Black', sans-serif;

$color-primary-light: #f2d9c86b;
$color-primary-dark: #1e1c1ba3;
$color-white: #fff;
$color-black: black;
$color-nav: rgba(45, 35, 35, 0.75);


// Define your color palette
$primary: #050816;
$secondary: #aaa6c3;
$tertiary: #151030;
$black-100: #100d25;
$black-200: #090325;
$white-100: #f3f3f3;
$flashWhite: #f4f4f6;
$platinum: #e6e6e9;
$platinumLight: #f4f4f5;
$timberWolf: #d4d4d8;
$taupe: #9999a1;
$silver: #d6d6d6;
$dim: #66666e;
$battleGray: #858585;
$french: #b5b5ba;
$night: #141414;
$jet: #292929;
$jetLight: #333333;
$jetGray: #6d6d74;
$richBlack: #2e2e2e;
$eerieBlack: #1f1f1f;
$onyx: #5b5b5b;

$primaryColor : "#4E567E";
$secondaryColor : "#D2F1E4";

// Define box shadows
$card: 0px 35px 120px -15px #1f1f1f;
$cardLight: 0px 19px 38px #eaeaec, 0px 15px 12px #eaeaec;

// Define screen sizes in rem units
$xs: 28.125rem;
$sm: 40rem;
$md: 48rem;
$xmd: 56.25rem;
$lg: 64.0625rem;
$xl: 80rem;
$xxl: 96rem;
$xxxl: 112.5rem;

// Define background images
$about: linear-gradient(165deg, rgba(244, 244, 246, 1) 100%, rgba(122, 122, 122, 1) 100%);
$experience: linear-gradient(135deg, rgba(244, 244, 246, 0.5) 60%, rgba(10, 10, 10, 0.2) 100%), url('../../assets/backgrounds/white-abstract.png');
$experienceLight: linear-gradient(137deg, rgba(244, 244, 246, 0.5) 60%, rgba(10, 10, 10, 0.9) 60%);
$hero: linear-gradient(135deg, rgba(244, 244, 246, 0.8) 60%, rgba(10, 10, 10, 0.95) 60%);
$hero-mobile: linear-gradient(137deg, rgba(244, 244, 246, 0.8) 60%, rgba(10, 10, 10, 1) 60%);
$tech: linear-gradient(165deg, rgba(20, 20, 20, 0.8) 100%, rgba(109, 109, 116, 0.8) 100%), url('../../images/portBackgroun-2.jpg');

// Define font families
$font-arenq: 'Arenq', sans-serif;
$font-beckman: 'Beckman', sans-serif;
$font-mova: 'Mova', sans-serif;
$font-overcameBold: 'Overcame Bold', sans-serif;
$font-overcameOutline: 'Overcame Outline', sans-serif;
$font-poppins: 'Poppins', sans-serif;

// Example usage
body {
    font-family: $font-poppins;
    color: $primary;
    background-color: $white-100;
}

.box-shadow-card {
    box-shadow: $card;
}

.background-image-about {
    background-image: $about;
}

// Continue defining your styles...