.h2__heading {
    display: inline-block;
    background-image: linear-gradient(to bottom,
            $color-primary-dark,
            $color-primary-dark );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    letter-spacing: 0.2rem;
    font-size: 4rem;
    font-weight: 700;
    font-family: $font-name ;
    text-transform: uppercase;
    margin-left: 15rem;

    &:hover {
        transform: scaleY(1.1);
        text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
    }

    @media screen and (max-width: $md) {
        margin-left: 2rem;
        margin-bottom: .2rem;
    }

    @media screen and (max-width: $sm) {
        font-size: 3rem !important;
    }
}




.text {
    font-size: 2rem;
    color: $color-white;
    margin-left: 15rem;
    font-weight: 400;
    margin-top: -3rem;

    @media screen and (max-width: $md) {
        margin-left: 3rem;
        margin-top: .1rem;
    }
}